/*
 *  STYLE 2
 */
*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
  position: absolute;
  -webkit-transform: translatez(0);
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: rgba(127, 127, 127, 0.9);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #7f7f7f;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #7f7f7f;
}
#leftNotebook ::-webkit-scrollbar-thumb,
#noteList ::-webkit-scrollbar-thumb,
#editorContentWrap ::-webkit-scrollbar-thumb,
#editorContent ::-webkit-scrollbar-thumb {
  visibility: hidden;
}
#leftNotebook:hover ::-webkit-scrollbar-thumb,
#noteList:hover ::-webkit-scrollbar-thumb,
#editorContentWrap:hover ::-webkit-scrollbar-thumb,
#editorContent:hover ::-webkit-scrollbar-thumb {
  visibility: visible;
}
body {
  border: none;
  border-shadow: none;
  border-radius: none;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: '微软雅黑';
}
* {
  font-family: '微软雅黑';
}
html,
body,
#page,
#pageInner,
#noteList,
#notebook,
#leftNotebook {
  border-radius: 0;
}
#winTool {
  display: none;
}
#topDrag {
  display: none;
}
#notebook {
  top: 0 !important;
}
#noteList,
#note {
  top: 0;
  padding-top: 0;
}
