/**
 * 演示
 */
body {
  box-shadow: none;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
  border: none;
}
#mainMask,
#winTool,
.navbar.navbar-default {
  display: none;
}
#topDrag {
  display: none;
}
body.view #topDrag {
  display: block;
  right: 50px;
}
#presentation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fff;
  display: block;
  -webkit-user-select: text;
  overflow-y: scroll;
  font-family: "Helvetica Neue", Helvetica, Arial, "Droid Sans Mono", "Droid Sans Fallback", sans-serif;
}
#presentation svg {
  border-radius: 5px;
}
#presentation a {
  color: #2a6496;
}
#presentation hr {
  margin: 10px;
  width: 20px;
  border: none;
}
#presentation.writting,
#presentation.black {
  background-color: #F9F9F5;
  color: #2C3E50;
}
#presentation.writting pre.prettyprint,
#presentation.black pre.prettyprint {
  /* Pretty printing styles. Used with prettify.js. */
  /* SPAN elements with the classes below are added by prettyprint. */
  /* plain text */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  display: block;
  background-color: rgba(102, 128, 153, 0.05);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1) inset, 45px 0 0 rgba(102, 128, 153, 0.05) inset, 0 1px 0 rgba(102, 128, 153, 0.05);
  padding: 9.5px;
}
#presentation.writting pre.prettyprint .pln,
#presentation.black pre.prettyprint .pln {
  color: #000000;
}
@media screen {
  #presentation.writting pre.prettyprint,
  #presentation.black pre.prettyprint {
    /* string content */
    /* a keyword */
    /* a comment */
    /* a type name */
    /* a literal value */
    /* punctuation, lisp open bracket, lisp close bracket */
    /* a markup tag name */
    /* a markup attribute name */
    /* a markup attribute value */
    /* a declaration; a variable name */
    /* a function name */
  }
  #presentation.writting pre.prettyprint .str,
  #presentation.black pre.prettyprint .str {
    color: #008800;
  }
  #presentation.writting pre.prettyprint .kwd,
  #presentation.black pre.prettyprint .kwd {
    color: #000088;
  }
  #presentation.writting pre.prettyprint .com,
  #presentation.black pre.prettyprint .com {
    color: #880000;
  }
  #presentation.writting pre.prettyprint .typ,
  #presentation.black pre.prettyprint .typ {
    color: #660066;
  }
  #presentation.writting pre.prettyprint .lit,
  #presentation.black pre.prettyprint .lit {
    color: #006666;
  }
  #presentation.writting pre.prettyprint .pun,
  #presentation.black pre.prettyprint .pun,
  #presentation.writting pre.prettyprint .opn,
  #presentation.black pre.prettyprint .opn,
  #presentation.writting pre.prettyprint .clo,
  #presentation.black pre.prettyprint .clo {
    color: #666600;
  }
  #presentation.writting pre.prettyprint .tag,
  #presentation.black pre.prettyprint .tag {
    color: #000088;
  }
  #presentation.writting pre.prettyprint .atn,
  #presentation.black pre.prettyprint .atn {
    color: #660066;
  }
  #presentation.writting pre.prettyprint .atv,
  #presentation.black pre.prettyprint .atv {
    color: #008800;
  }
  #presentation.writting pre.prettyprint .dec,
  #presentation.black pre.prettyprint .dec,
  #presentation.writting pre.prettyprint .var,
  #presentation.black pre.prettyprint .var {
    color: #660066;
  }
  #presentation.writting pre.prettyprint .fun,
  #presentation.black pre.prettyprint .fun {
    color: #ff0000;
  }
}
#presentation.writting pre.prettyprint ol.linenums,
#presentation.black pre.prettyprint ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(102, 128, 153, 0.4);
}
#presentation.writting pre.prettyprint ol.linenums,
#presentation.black pre.prettyprint ol.linenums {
  margin-left: 10px;
}
#presentation.black {
  background-color: #000;
  color: #fff;
}
#presentation.black blockquote {
  background-color: rgba(192, 182, 182, 0.5);
  border-left-color: #988F8F;
}
#presentation.black code {
  color: #DAD6D7;
  background-color: #908185;
}
#presentation.black pre.prettyprint {
  background-color: #CACAB7;
}
#presentation.black ol.linenums > li {
  color: #000;
}
#presentation.black svg {
  background: #F9F9F5;
}
#presentation.black .pren-tool a {
  color: #fff;
}
#presentation.text-min-1 .pren-content * {
  font-size: 16px;
}
#presentation.text-min-1 .pren-content svg *,
#presentation.text-min-1 .pren-content pre * {
  font-size: 16px;
}
#presentation.text-min-1 .pren-content h1 {
  font-size: 28px;
}
#presentation.text-min-1 .pren-content h2 {
  font-size: 22px;
}
#presentation.text-min-1 .pren-content h3 {
  font-size: 18px;
}
#presentation.text-min-1 .pren-content h4 {
  font-size: 14px;
}
#presentation.text-min-2 .pren-content * {
  font-size: 14px;
}
#presentation.text-min-2 .pren-content svg *,
#presentation.text-min-2 .pren-content pre * {
  font-size: 16px;
}
#presentation.text-min-2 .pren-content h1 {
  font-size: 24px;
}
#presentation.text-min-2 .pren-content h2 {
  font-size: 20px;
}
#presentation.text-min-2 .pren-content h3 {
  font-size: 16px;
}
#presentation.text-min-2 .pren-content h4 {
  font-size: 14px;
}
#presentation.text-max-1 .pren-content * {
  font-size: 20px;
}
#presentation.text-max-1 .pren-content svg *,
#presentation.text-max-1 .pren-content pre * {
  font-size: 16px;
}
#presentation.text-max-1 .pren-content h1 {
  font-size: 32px;
}
#presentation.text-max-1 .pren-content h2 {
  font-size: 28px;
}
#presentation.text-max-1 .pren-content h3 {
  font-size: 24px;
}
#presentation.text-max-1 .pren-content h4 {
  font-size: 18px;
}
#presentation.text-max-2 .pren-content * {
  font-size: 24px;
}
#presentation.text-max-2 .pren-content svg *,
#presentation.text-max-2 .pren-content pre * {
  font-size: 16px;
}
#presentation.text-max-2 .pren-content h1 {
  font-size: 38px;
}
#presentation.text-max-2 .pren-content h2 {
  font-size: 32px;
}
#presentation.text-max-2 .pren-content h3 {
  font-size: 28px;
}
#presentation.text-max-2 .pren-content h4 {
  font-size: 24px;
}
.pren-tool {
  position: fixed;
  -webkit-user-select: none;
  right: 0;
  top: 0;
  bottom: 0;
  width: 45px;
  z-index: 1001;
  opacity: 0;
  text-align: center;
}
.pren-tool:hover {
  opacity: 1;
}
.pren-tool a {
  display: block;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
.pren-tool .pren-tool-bg-color {
  margin-top: 30px;
}
.pren-tool .pren-tool-text-size-max {
  font-size: 16px;
}
.pren-tool .pren-tool-text-size-min {
  font-size: 12px;
}
.pren-title {
  font-size: 32px;
  margin: 100px 0;
  text-align: center;
  padding: 0 150px;
  font-weight: bold;
}
.pren-content {
  margin: 0 150px;
  overflow: hidden;
  word-wrap: break-word;
}
.pren-content * {
  font-size: 18px;
  line-height: 1.5;
  max-width: 100%;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Droid Sans Mono", "Droid Sans Fallback", sans-serif;
}
.pren-content svg *,
.pren-content pre * {
  font-size: 16px;
}
.pren-content p {
  margin: 10px 0;
}
.pren-content h1 {
  font-size: 30px;
}
.pren-content h2 {
  font-size: 24px;
}
.pren-content h3 {
  font-size: 18px;
}
.pren-content h4 {
  font-size: 14px;
}
/*
 body.init #pageInner {
 	display: block;
 }
 #noteAndEditor {
 	left: 0 !important;
 }
 #note {
 	left: 0 !important;
 	// left: 100px !important;
 	// right: 100px !important;

 	// padding: 0 100px;

 	#tool {
 		border: none;
 	}
 	#noteTitleDiv {
 		right: 0;
 		margin: 20px 0;
 	}
 	#noteTitle {
 		text-align: center;
 		font-size: 24px;
 	}

 	* {
	  font-size: 18px;
	}
	h1 {
	  font-size: 30px;
	}
	h2 {
	  font-size: 24px;
	}
	h3 {
	  font-size: 18px;
	}
	h4 {
	  font-size: 14px;
	}
 }

 #editor, #mdEditor {
 	bottom: 0;
 	top: 100px !important;
 }

#mdEditor .layout-wrapper-l3, #editorContent {
 	top: 0 !important;
}

#editorContent {
 	padding: 0 100px;
}
*/
