#leftNotebook {
  background: none !important;
  background-color: rgba(61, 61, 61, 0.96) !important;
}
.folderHeader .fa-left,
.folderHeader span {
  color: #fff;
}
#addNotebookPlus {
  color: #F9F8F8;
}
#notebookList {
  border-top: none;
}
#notebookList input {
  background: transparent;
  color: #fff;
}
.folderBody a:hover {
  background-color: transparent !important;
  font-weight: bold;
}
.ztree li a.curSelectedNode {
  color: #eee;
}
.ztree li a.curSelectedNode,
#starNotes li.selected {
  background-color: transparent;
  font-weight: bold;
}
.ztree li a.curSelectedNode a,
#starNotes li.selected a {
  color: #eee;
}
#starNotes li,
.ztree li {
  border: none;
}
#starNotes li a,
.ztree li a {
  color: #eee;
}
.sync-icon,
#myProfile a {
  color: #fff;
}
#searchNotebookForList {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(230, 230, 230, 0.5);
  height: 25px;
}
#searchNotebookForList::-webkit-input-placeholder {
  color: #eee !important;
  /* WebKit browsers */
  font-size: 12px;
}
.no-info {
  color: #fff;
}
.progress-bar {
  background: #fff;
}
/**
 */
#noteList,
#notesAndSort {
  background: #444444;
}
#notesAndSort {
  border: none;
}
#notesAndSort,
#notesAndSort a {
  color: #fff;
}
#searchNote {
  border-bottom: #3a3a3a 1px solid;
  padding-bottom: 5px;
}
#searchNote input {
  background: #3c3c3c;
  border-color: #363636;
}
#noteItemListWrap {
  top: 80px;
}
#noteItemList {
  /* 不显示图片 */
}
#noteItemList .item {
  height: 70px;
  border: 1px solid #ebeff2;
  background-color: #fff;
}
#noteItemList .item-thumb {
  display: none;
}
#noteItemList .item-image .item-desc {
  right: 0;
}
