#leftNotebook {
  background: none !important;
  background-color: rgba(39, 38, 38, 0.96) !important;
  box-shadow: 5px 0px 5px #272626;
  z-index: 3;
  border-radius: 5px 0 0 5px;
}
.folderHeader .fa-left,
.folderHeader span {
  color: #c2c2c2;
}
#addNotebookPlus {
  color: #F9F8F8;
}
#notebookList {
  border-top: none;
}
#notebookList input {
  background: transparent;
  color: #c2c2c2;
}
.folderBody a:hover {
  background-color: transparent !important;
  font-weight: bold;
}
.ztree li a.curSelectedNode {
  color: #eeeeee;
}
.ztree li a.curSelectedNode,
#starNotes li.selected {
  background-color: transparent;
  font-weight: bold;
}
.ztree li a.curSelectedNode a,
#starNotes li.selected a {
  color: #eeeeee;
}
#starNotes li,
.ztree li {
  border: none;
}
#starNotes li a,
.ztree li a {
  color: #eeeeee;
}
.sync-icon,
#myProfile a {
  color: #c2c2c2;
}
#searchNotebookForList {
  background: transparent;
  color: #c2c2c2;
  border: 1px solid rgba(230, 230, 230, 0.5);
  height: 25px;
}
#searchNotebookForList::-webkit-input-placeholder {
  color: #eee !important;
  /* WebKit browsers */
  font-size: 12px;
}
.no-info {
  color: #c2c2c2;
}
.progress-bar {
  background: #c2c2c2;
}
#noteAndEditor {
  border: none;
}
#noteList,
#notesAndSort,
#searchNote,
#noteItemListWrap {
  background: transparent;
}
#noteList,
#notesAndSort {
  background: #444444;
}
#notesAndSort {
  border: none;
}
#notesAndSort,
#notesAndSort a {
  color: #c2c2c2;
}
#searchNote {
  border-bottom: #363636 1px solid;
  padding-bottom: 5px;
}
#searchNote input {
  background: #3c3c3c;
  border-color: #363636;
}
#noteItemListWrap {
  top: 80px;
}
#noteList {
  border: none;
}
#noteItemList {
  /* 不显示图片 */
}
#noteItemList .item {
  height: 69px;
  border: none;
  border-bottom: 1px solid #363636;
  background-color: transparent;
  color: #c2c2c2;
  overflow: hidden;
}
#noteItemList .item-title {
  color: #c2c2c2;
  border-bottom: none;
}
#noteItemList .item-info,
#noteItemList .item-desc {
  color: #888888;
}
#noteItemList .item-thumb {
  display: none;
}
#noteItemList .item-image .item-desc {
  right: 0;
}
#noteItemList .item-desc {
  left: 10px;
  right: 10px;
}
#noteItemList .item-title,
#noteItemList .item-info {
  padding-right: 5px;
}
#noteItemList .item:hover,
#noteItemList .contextmenu-hover {
  background: #3c3c3c !important;
}
.item-active .item-info,
.item-active .desc,
.item-active .item-info .fa,
.item-active .item-title,
#noteItemList .item-active:hover .item-info .fa {
  color: #eee!important;
}
.item-active,
#noteItemList .item-active:hover {
  background-color: #868b87 !important;
}
#newMyNote #newNoteMarkdownBtn,
#newMyNote #newNoteBtn {
  border: 1px solid #615E5E;
}
#noteAndEditor,
#note {
  background-color: #272626 !important;
  color: #c2c2c2;
}
#noteTitle {
  background-color: #272626 !important;
  color: #c2c2c2;
}
#editorTool a {
  color: #c2c2c2;
}
#mceToolbar,
#wmd-button-bar {
  background-color: transparent;
  border-bottom: 1px solid #444040;
}
#tool {
  border-bottom: 1px solid #444040;
}
.mce-btn {
  background-color: transparent;
}
.mce-menubtn span,
.mce-ico {
  color: #847D7D;
}
.mce-caret {
  border-top-color: #847D7D;
}
.mce-btn i {
  text-shadow: none;
}
i.mce-i-backcolor {
  background: #454141;
}
.tool-split {
  display: none;
}
.mce-colorbutton .mce-caret {
  margin-top: 8px;
}
.more-fa {
  color: #847D7D;
}
.mce-colorbutton .mce-btn-small .mce-preview {
  margin-left: -18px;
}
.mce-colorbutton:hover .mce-open {
  border-left-color: #5F5B5B;
  border-right-color: #5F5B5B;
}
.mce-btn.mce-active,
.mce-btn.mce-active:hover,
.mce-btn:hover {
  background-color: #413C3C;
}
.wmd-button-row,
.preview-button-row,
#mdEditor #wmd-input,
.extension-preview-buttons,
#mdEditor .preview-panel {
  background: #272626;
}
.extension-preview-buttons {
  border: none !important;
}
#mdEditor #wmd-input {
  color: #c2c2c2;
}
#mdEditor .navbar-default {
  border: none !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: rgba(128, 128, 128, 0.5) !important;
}
#wmd-input .code,
#wmd-input .pre {
  color: #c2c2c2 !important;
}
code.prettyprint,
pre.prettyprint {
  background-color: #353538;
}
code.prettyprint .kwd,
pre.prettyprint .kwd,
code.prettyprint .tag,
pre.prettyprint .tag {
  color: #566BB0;
}
code.prettyprint .str,
pre.prettyprint .str {
  color: #2D905F;
}
code.prettyprint .pln,
pre.prettyprint .pln {
  color: #9595A3;
}
code.prettyprint .atv,
pre.prettyprint .atv {
  color: #378668;
}
.preview-container code {
  background: #353538;
  color: #a4b3ae;
}
#leanoteNav,
#leanoteNavMd {
  background-color: #2A2828;
  border: 1px solid #353538;
}
.leanoteNav.unfolder h1 {
  border-bottom: 1px dashed #353538;
}
#leanoteNavContent a,
#leanoteNavMd a {
  color: #c2c2c2;
}
#editorBottom {
  border: none;
}
#tag .add-tag-text {
  color: #c2c2c2;
}
#addTagInput {
  background: none;
  color: #c2c2c2;
}
#editorMask {
  background: #272626;
}
#editorMask a {
  color: #c2c2c2;
}
body.writting #note #editor {
  background: #272626;
}
body.writting #note #editorContentWrap {
  background: #302E2E;
}
body.writting #note #editorContent {
  background: #272626;
  box-shadow: 0 1px 10px #000;
}
body.writting #note .mce-btn {
  background: transparent !important;
}
body.writting #note #mceToolbar,
body.writting #note #mdEditor .navbar-default,
body.writting #note #wmd-button-bar {
  box-shadow: 0 3px 10px #000;
}
body.writting #note #mdEditor,
body.writting #note #mceToolbar,
body.writting #note #wmd-button-bar {
  background: #272626;
}
body.writting #note #mceToolbar,
body.writting #note #mdEditor .navbar-default,
body.writting #note #wmd-button-bar {
  box-shadow: none;
}
#leftNotebook {
  background: url(images/water@2x.jpg) no-repeat !important;
  background-size: 100% auto !important;
}
